$font-family: Arial, Helvetica, sans-serif;

$color-0: #343445;
$color-1: #5375e2;
$color-2: #7791a1;
$color-3: #f65868;
$color-4: #f3aa92;
$color-5: #5c616e;
$color-6: #fefefe;

@mixin animation($animationName, $curve, $nTimes, $duration) {
  -webkit-animation: $animationName $curve $nTimes $duration;
  animation: $animationName $curve $nTimes $duration;
}

@mixin panel {
  color: $color-6;
  background-color: $color-1;
  box-shadow: 3px 3px 1px $color-2;
  padding: 1rem;

  h2,
  h3,
  h4 {
    text-align: center;
    //    text-shadow: 1px 1px 0px $color-2;
  }
}
