@import "./variables";

.detail {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
  }

  .textContent {
    border: 2px solid lighten($color-5, 50%);
    padding: 1rem;

    h1,
    h2,
    h3 {
      text-align: left;
    }

    ul {
      list-style: initial;
      color: $color-0;

      li {
        &:before {
          content: none;
          color: $color-0;
        }
      }
    }
  }

  .quizContent {
    border: 2px solid lighten($color-5, 50%);
    padding: 1rem;
  }
}

.visibilityBadge {
  display: inline-block;

  border-radius: 50%;
  width: 64px;
  height: 64px;

  &.public {
    background-color: $color-1;
  }

  &.private {
    background-color: $color-2;
  }
}

.contentList {
  .contentListItem {
    background-color: lighten($color-1, 10%);
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    transition: ease 0.4s all;

    hgroup {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      h4 {
        color: lighten($color-2, 20%);
      }
    }

    &:hover,
    &:active {
      background: $color-6;
      color: $color-3;
      cursor: pointer;
    }
  }
}
