@import "./variables.scss";

$panel-height: 70vh;
$gap: 1rem;

.explorePanel {
  display: grid;
  grid-template-columns: 50% 50%;
  height: $panel-height;
  gap: $gap;
  margin-top: 1rem;

  @media screen and (max-width: 680px) {
    display: flex;
    flex-direction: column;
  }
}

.panel {
  @include panel;
  display: flex;
  flex-direction: column;
}
