@import "./variables.scss";

@keyframes inputShow {
  0% {
    transform: scale(0) rotateX(0deg);
  }
  50% {
    transform: scale(1.25) rotateX(90deg);
  }
  100% {
    transform: scale(1) rotateX(360deg);
  }
}

@keyframes labelShow {
  0% {
    opacity: 0;
    transform: translate(0, -25px);
  }
  50% {
    opacity: 0.25;
    transform: translate(0, 25px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0px);
  }
}

@mixin showAnimation($animation, $delay) {
  animation: $animation ease 1s $delay;
}

.label {
  @include showAnimation(labelShow, 0.25s);
  padding: 0.25rem;
  text-shadow: 1px 1px 0px $color-2;
}

.input,
.textarea {
  @include showAnimation(inputShow, 0.5s);

  font-family: $font-family;
  display: inline-block;
  background: lighten($color-1, 10%);
  color: $color-6;
  outline: none;

  font-size: 1.2rem;

  padding: 0.25rem;
  transition: ease 0.4s all;
  border: 1px solid $color-6;

  &[type="search"],
  &[type="text"],
  &[type="password"] {
    &:focus {
      background: lighten($color-2, 30%);
      color: $color-1;
      box-shadow: 3px 3px 1px $color-2;
    }
  }

  &[type="file"] {
    cursor: pointer;

    &::-webkit-file-upload-button {
      display: none;
    }

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }
}

// TODO: Modularizar

.textarea {
  resize: none;
  &:focus {
    background: lighten($color-2, 30%);
    color: $color-1;
    box-shadow: 3px 3px 1px $color-2;
  }
}

.fieldset {
  padding: 1rem;
  border: none;

  & > * + * {
    margin-top: 1em;
  }
}

.formField {
  display: flex;
  flex-direction: column;

  & + .formField {
    margin-top: 1rem;
  }

  &.checkBox {
    input {
      font-size: 1.5rem;
    }
  }

  &.inline {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  &.listSelector {
    overflow-y: scroll;
    max-height: 10rem;
  }

  & > .question {
    text-align: left;
  }

  button {
    &.active {
      background: $color-6;
      color: $color-1;
    }
  }

  & > .answers {
    list-style: none;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1rem;
    margin: 1rem 0;

    & > li {
      color: $color-6;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      margin: 0;
      width: 100%;

      &:before {
        content: none;
      }

      .checkbox {
        padding: 1rem;
        margin: 1rem;
        font-size: 2rem;
      }
    }
  }

  & > * {
    flex-grow: 1;
  }

  & > .option {
    @include showAnimation(inputShow, 0.5s);

    padding: 0.25rem;
    border: 1px solid $color-6;
    text-align: center;
    text-transform: capitalize;

    cursor: pointer;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    transition: ease 0.4s all;

    & > label,
    & > input {
      display: block;
    }

    & > label {
      width: 100%;
    }

    & > input {
      display: none;
    }

    &.selected {
      background: lighten($color-1, 10%);
      cursor: initial;
    }
  }
}
