@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: $font-family;
  color: $color-0;
}

h1 {
  text-align: center;
}

a {
  color: $color-2;
  transition: ease 0.4s all;
  font-weight: 500;

  &:hover {
    color: $color-3;
  }
}

p {
  line-height: 1.4;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

blockquote {
  background: lighten($color-5, 50%);
  padding: 1rem;
  quotes: "\201C""\201D""\2018""\2019";

  &::before {
    display: inline-block;
    color: lighten($color-2, 20%);
    content: open-quote;
    width: 1rem;
    height: auto;
    font-size: 4rem;
  }

  p {
    display: inline;
  }
}

button {
  background: lighten($color-1, 10%);
  padding: 0.5rem;
  font-size: 1.1rem;
  color: $color-6;
  border: none;
  box-shadow: 2px 2px 1px $color-2;
  font-weight: bolder;

  transition: ease 0.4s all;

  &:hover:not(:disabled),
  &:focus:not(:disabled),
  &:active:not(:disabled) {
    background: $color-6;
    cursor: pointer;
    color: $color-3;
  }

  &:disabled {
    color: $color-0;
    background-color: $color-5;
    cursor: not-allowed;
  }
}

ul {
  list-style: none;

  li {
    margin-left: 1em;
    color: $color-1;

    &::before {
      font-weight: bold;
      content: "\2022";
      color: $color-3;
      padding-right: 0.5rem;
      text-shadow: 1px 1px 0px $color-2;
    }
  }
}

.panel {
  @include panel;
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    flex-grow: 1;
  }
}

/* MARKDOWN EDITOR*/

.w-md-editor {
  margin-bottom: 1rem;
  height: auto !important;
  border: 1px solid $color-6;
  border-radius: 0;

  & * {
    border-radius: 0;
  }

  .w-md-editor-toolbar {
    background-color: lighten($color-1, 10%);
    height: auto !important;
    padding: 0.25rem;
    border-radius: 0;

    ul {
      list-style: none;
      background: lighten($color-1, 10%);
      padding: 0 !important;

      li {
        & button {
          height: 2rem;
          width: 2rem;
          border: none;
          background-color: $color-1;
          color: $color-6;
          border-radius: 0;
          display: flex;
          justify-content: center;
          align-items: center;

          transition: ease 0.4s all;

          &:disabled {
            background-color: $color-2;
            color: lighten($color-2, 20%);
          }

          &:hover:not(:disabled),
          &:active:not(:disabled),
          &:focus:not(:disabled) {
            background-color: $color-6;
            color: $color-3;
          }

          .w-md-editor-toolbar-child.active {
            button {
              padding: 0.25rem !important;
            }
          }
        }

        &::before {
          content: none;
        }
      }
    }
  }

  .w-md-editor-content {
    display: flex;
    color: $color-0;
    padding: 0rem;

    border: 1px solid lighten($color-1, 25%);
    border-collapse: collapse;
    border-radius: 0;

    .w-md-editor-input {
      font-family: monospace;
      border-radius: 0;
      padding: 0;

      .w-md-editor-text {
        border: 1px solid lighten($color-1, 25%);
      }
    }

    .w-md-editor-preview {
      border: 1px solid lighten($color-1, 25%);

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        text-align: initial;
        text-shadow: none;
        line-height: normal;
        margin-bottom: 0.25em;
      }

      h1 {
        font-size: 1.5rem;
      }

      h2 {
        font-size: 1.35rem;
      }

      h3 {
        font-size: 1.2rem;
      }

      ul {
        list-style-type: disc;
        padding-left: 1rem;
      }

      li {
        color: $color-0;

        &::before {
          content: none;
        }
      }

      p {
        margin-bottom: 0;

        & + p {
          margin-top: 0.5rem;
        }
      }
    }
  }
}

.flex {
  display: flex;

  &.row {
    flex-direction: row;
  }

  &.col {
    flex-direction: column;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.justify-between {
    justify-content: space-between;
  }
}
