@import "./variables.scss";

@mixin landing-section() {
  position: relative;
  overflow: hidden;

  padding-top: 1rem;
  padding-bottom: 1rem;

  & > .content {
    color: $color-6;
    padding: 2rem;
    z-index: -1;
    text-shadow: 1px 1px 0px $color-2;
  }

  & > .background {
    background-blend-mode: color-burn;
    opacity: 1;

    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.jumbotron {
  text-shadow: 1px 1px 0px $color-2;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: lighten($color-2, 10%);
  color: white;
  text-align: center;
  margin-bottom: 1rem;

  h1 {
    color: lighten($color-1, 30%);
  }
}

.landingSection1 {
  @include landing-section();

  transform: rotate(2deg);

  & > .content {
    transform: rotate(-2deg);
  }

  & > .background {
    background-color: $color-1;
    background-image: url("/static/images/landing-1.png");
    background-position: 0% 30%;
    transform: rotate(-2deg);
  }
}

.landingSection2 {
  @include landing-section();

  transform: rotate(-2deg);

  & > .content {
    text-align: right;
    transform: rotate(2deg);
  }

  & > .background {
    background-color: $color-4;
    background-position: 50% 50%;
    background-image: url("https://il9.picdn.net/shutterstock/videos/4773473/thumb/10.jpg");
    transform: rotate(-2deg);
  }
}

.landingSection3 {
  @include landing-section();

  & > .background {
    background-color: $color-1;
    background-image: url("https://cdn.wallpapersafari.com/83/64/TbrHFd.jpg");
    background-position: 50% 40%;
    transform: rotate(2deg);
  }
}
