@import "./variables.scss";

.layout {
  max-width: 1280px;
  margin: 5rem auto 0;

  & > header {
    // TODO: mobile view
    position: fixed;
    left: 0;
    right: 0;
    top: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background: $color-1;
    color: $color-6;
    padding: 1rem;

    a {
      color: $color-4;
    }
  }

  & > main {
    padding: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  & > footer {
    background: $color-1;
    color: $color-6;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .layout {
    margin: 0;

    & > header {
      position: static;
    }
  }
}
