@import "./variables.scss";

@mixin transform-style($style) {
  transform-style: $style;
  -ms-transform-style: $style;
  -webkit-transform-style: $style;
}

@keyframes rotate {
  from {
    transform: rotateX(0deg) rotateY(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
    -ms-transform: rotateX(360deg) rotateY(360deg);
    -webkit-transform: rotateX(360deg) rotateY(360deg);
  }
}
@-webkit-keyframes rotate {
  from {
    transform: rotateX(0deg) rotateY(0deg);
    -ms-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
    -ms-transform: rotateX(360deg) rotateY(360deg);
    -webkit-transform: rotateX(360deg) rotateY(360deg);
  }
}

.logo {
  @include animation(logoAnimation, ease-in-out, infinite, 6s);

  perspective: 0px;
  perspective-origin: 0% 0%;

  // TODO: Personalizar
  & > .cube {
    position: relative;
    font-size: 2rem;
    @include animation(rotate, linear, infinite, 20s);
    @include transform-style(preserve-3d);

    & > .cubeFace {
      position: absolute;
      box-sizing: border-box;
      padding: 10px;
      height: 100%;
      width: 100%;
      opacity: 0.9;
      border: solid 1px #eee;
      color: #ffffff;
      text-shadow: 1px 1px $color-0, -1px -1px $color-0;

      display: flex;
      justify-content: center;
      align-items: center;

      &.front {
        transform: translateZ(-50px);
        background-color: #f8cc0f;
      }

      &.back {
        transform: translateZ(-100px) rotateY(180deg);
        background-color: #4db849;
      }

      &.right {
        transform: rotateY(-270deg) translateX(100px);
        transform-origin: top right;
        background-color: #e8483f;
      }

      &.left {
        transform: rotateY(270deg) translateX(-100px);
        transform-origin: center left;
        background-color: #ffa6a6;
      }

      &.top {
        transform: rotateX(-270deg) translateY(-100px);
        transform-origin: top center;
        background-color: #000;
      }

      &.bottom {
        transform: rotateX(270deg) translateY(100px);
        transform-origin: bottom center;
        background-color: #53bdeb;
      }
    }
  }
}
