@import "./variables.scss";

$modal-margin: 20%;
$close-button-size: 2rem;

@keyframes modalOpen {
  from {
    opacity: 0;
    width: 100vw;
    height: 0vh;
  }

  to {
    opacity: 1;
    width: 100vw;
    height: 100vh;
  }
}

.modal {
  // MODAL COMPONENT ROOT
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  animation: modalOpen 0.4s ease;

  .backdrop {
    // MODAL BACKDROP
    background: $color-2;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: 6;
  }

  .content {
    // MODAL CONTENT
    position: absolute;

    top: $modal-margin;
    bottom: $modal-margin;
    left: $modal-margin;
    right: $modal-margin;
    z-index: 7;
  }

  .closeButton {
    // MODAL CLOSE BUTTON
    color: $color-6;
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    font-size: $close-button-size + 0.25rem;
    text-shadow: 1px 1px 0px $color-2;
    width: $close-button-size;
    height: $close-button-size;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease 0.4s all;

    &:hover,
    &:active,
    &:focus {
      cursor: pointer;
      color: $color-3;
      background: $color-6;
      width: $close-button-size;
      height: $close-button-size;
    }
  }
}

@media screen and (max-width: 960px) {
  .modal {
    .content {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}
