@import "./variables.scss";

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  .navElement {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    .navLink {
      padding: 0.5rem;
      cursor: pointer;

      display: inline-block;
      color: $color-6;

      &:hover {
        background: $color-6;
        color: darken($color-3, 10%);
      }
    }

    .userNavElement {
      display: flex;
      flex-direction: row;
      align-items: center;

      figure {
        display: inline-flex;
        justify-content: center;
        align-items: center;

        border-radius: 50%;

        width: 36px;
        height: 36px;

        overflow: hidden;

        img {
          height: 36px;
          text-align: center;
        }
      }
    }
  }
}
