@import "./variables.scss";

$toast-padding: 0.5rem;
$toast-background-lighten: 10%;

@keyframes toastShow {
  from {
    height: 0;
    padding: 0;
  }

  to {
    height: 3em;
    padding: $toast-padding;
  }
}

.toast {
  text-align: center;
  position: fixed;
  background: black;
  color: $color-6;
  bottom: 3rem;
  left: 0;
  right: 0;
  z-index: 10;
  height: 3em;
  padding: $toast-padding;
  overflow: hidden;

  animation: toastShow ease 1s;

  &.hidden {
    animation: toastShow ease 0.5s reverse;
    height: 0;
    padding: 0;
  }

  &.info {
    background-color: lighten($color-1, $toast-background-lighten);
  }

  &.warning {
    background-color: lighten($color-4, $toast-background-lighten);
  }

  &.danger {
    background-color: lighten($color-3, $toast-background-lighten);
  }

  &.success {
    background-color: lighten($color-2, $toast-background-lighten);
  }
}
