@import "./variables.scss";

$avatar-dimension: 200px;

$panel-height: 50vh;
$gap: 1rem;

.userPanel {
  header {
    display: flex;
    background-color: $color-1;
    border-radius: 6rem 0 0 6rem;

    align-items: center;

    box-shadow: 5px 5px 2px $color-2;

    figure {
      box-shadow: 5px 5px 1px $color-2;
      background-color: $color-5;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      width: $avatar-dimension;
      height: $avatar-dimension;

      overflow: hidden;

      border-radius: 50%;

      img {
        height: $avatar-dimension;
      }
    }

    .info {
      flex-grow: 1;
      padding: 1rem;

      hgroup {
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;

        h1,
        h2,
        h3 {
          text-align: center;
        }

        h1 {
          text-transform: capitalize;
          color: $color-0;
          background: $color-6;
        }

        h2 {
          text-transform: capitalize;
          color: lighten($color-3, 10%);
          background: $color-6;
        }
      }

      article {
        margin-left: 1rem;
        color: $color-6;
      }

      .emptyDescription {
        color: lighten($color-2, 20%);
      }
    }
  }
}

.board {
  margin-top: 1rem;

  display: grid;
  grid-template-columns: 50% 50%;
  gap: $gap;
  height: $panel-height;

  h2,
  h3 {
    text-align: center;
  }

  & > * {
    flex-grow: 1;
    background: $color-1;
    color: $color-6;
    padding: 1rem;
    box-shadow: 5px 5px 2px $color-2;

    margin: 0.25rem;

    .buttonGroup {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      button {
        flex-grow: 1;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .userPanel {
    .board {
      flex-wrap: wrap;
    }
  }
}
